<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Convertisseur Devis</title>
</head>
<body>
<div class="container"><br>
  <h3>Convertisseur Devis  <img src="/assets/convertisseur-euros-a-dirhams.png" width="5%" height="5%"/></h3>
    MAD <input type="number" class="form-control" name="madDevis" #box (keyup)="getValueDH(box.value)" step="0.001" placeholder="Dirham marocain" value="1">
    <span id="msg">&nbsp;{{msg}}</span><br>
    EURO € <br><input type="text" class="form-control" class="form-control" placeholder="Euro" value="{{resultEur}}€" readonly><br>
    USD $ <br><input type="text" class="form-control" placeholder="Usd" value="{{resultUsd}}$" readonly><br>
    Livre sterling £ <br><input class="form-control" type="text" placeholder="Livre sterling" value="{{resultLivre}}£" readonly><br>
    Turkish lira ₺ <br><input type="text" class="form-control" placeholder="Lira" value="{{resultLira}}₺" readonly>
</div>
</body>
</html>
