<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/">
    <img src="https://www.berger-levrault.com/app/themes/berger-levrault/resources/dist/images/logo/BL_logo.png"></a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/convertisseur"><div class="fa fa-exchange"></div> Convertisseur Devise</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/quiz"><div class="fa fa-file-text"></div> Quiz</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="#"><div class="fa fa-server"></div> Rest API-Devis</a>
    </li>
  </ul>
</nav>
