<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Questions</title>
</head>
<body appNoRightClick>
<div class="container mt-3">
  <div class="card">
      <div class="d-flex justify-content-between p-3">
        <div class="image">
          <img src="assets/angularjs.png" height="90" alt="logo">
          <img src="assets/logoTs.png" height="50" alt="logo">
        </div>
        <div class="quiz-header">
          <h4 style="font-family: cursive;">Quiz Angular & TypeScript</h4>
          <span style="font-style: italic;">Bienvenue {{name}}</span>
        </div>
      </div>

  <ng-container *ngIf="!isQuizCompleted">
    <div class="d-flex justify-content-around py-2">
      <div class="score">
        <h4>{{points}} Points</h4>
      </div>
      <div class="question-remain">
        <span style="font-style: italic">Question {{currentQuestion+1}} sur {{questionList.length}}</span>
      </div>
      <div class="timer">
        <h4>{{counter}} sec <span class="fa fa-clock-o"></span></h4>
      </div>
    </div>
    <div class="progress mb-3">
      <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" [ngStyle]="{'width':progress+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="question">
      <div class="card">
        <h3>{{questionList[currentQuestion]?.questionText}}</h3>
      </div>
    </div>
    <div class="options">
      <ol *ngFor="let option of questionList[currentQuestion]?.options">
        <li (click)="answer(currentQuestion+1, option)">
          <div appChangeBg [isCorrect]="option.correct" class="card">
            {{option.text}}
          </div>
        </li>
      </ol>
    </div>
    <div class="d-flex justify-content-between">
      <button [disabled]="currentQuestion===0" class="btn" (click)="previousQuestion()"><i class="fa text-dark fa-chevron-left fa-3x" aria-hidden="true"></i></button>
      <button class="btn" (click)="resetQuiz()"><i class="fa text-dark fa-refresh fa-3x" aria-hidden="true"></i></button>
      <button [disabled]="currentQuestion===8" class="btn" (click)="nextQuestion()"><i class="fa text-dark fa-chevron-right fa-3x" aria-hidden="true"></i></button>
    </div>
  </ng-container>
    <ng-container *ngIf="isQuizCompleted">
      <div class="row d-flex justify-content-between">
        <img style="width: 30%;height: 30%;" class="img-fluid col-sm-12 ms-xl-auto" src="assets/scoreboard.png" alt="">
        <div class="result text-center col-md-6 col-sm-12">
          <h3>Vous avez terminé le Quiz.<br>Ci-dessous est votre résultat:</h3>
          <p>Nombre total de questions tentées: {{questionList.length}}</p>
          <p>Nombre total de réponses correctes: {{correctAnswer}}</p>
          <p>Total de mauvaises réponses: {{inCorrectAnswer}}</p>
          <p>Ton score: {{points}} Points</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
</body>
</html>
